<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">

<div class="email-container" style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border: 1px solid #dddddd;">
    <div class="header" style="background-color: #f4f4f4; text-align: center;">
        <img src="cid:logoTeste" style="max-width: 90px; width: 100%; height: auto; display: block; margin: 0 auto;" alt="Logo">
    </div>
    <div class="content" style="padding: 20px; text-align: center;">
        <p style="font-size: 20px; color: #333333; line-height: 1.8;">Olá, <span th:text="${name}">Usuário</span>!</p>
        <p style="font-size: 20px; color: #333333; line-height: 1.8;">Você solicitou a recuperação da sua senha. Por motivos de segurança, você precisa do seguinte código para fazer a alteração:</p>
        <div class="otp-code" style="font-size: 20px; font-weight: bold; margin: 20px 0;">
            <span style="background-color: #f4f4f4; padding: 10px 20px; border: 1px solid #dddddd;" th:text="${validationCode}"></span>
        </div>
        <p style="font-size: 20px; color: #333333; line-height: 1.8;">Para alterar senha senha, clique no link abaixo:</p>
        <a th:href="@{${url}}" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 18px;">Alterar Senha</a>
        <p style="font-size: 20px; color: #333333; line-height: 1.8;">Se você não solicitou esta ação, por favor ignore este e-mail.</p>
    </div>
    <div class="footer" style="background-color: #f4f4f4; padding: 10px; text-align: center; font-size: 14px; color: #777777;">
        <p>&copy; 2024 Leilão-Backend. Todos os direitos reservados.</p>
    </div>
</div>
</body>
